version: "3.8"
services:
  app:
    build:
      args:
        user: user
        uid: 1000
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
  nginx:
    image: nginx:1.23-alpine
    restart: unless-stopped
    ports:
      - 8000:80
    volumes:
      - ./:/var/www/html/
      - ./nginx/:/etc/nginx/conf.d
